/*Color Palette: #2E5266ff, #6E8898FF, #9FB1BCFF, #D3D0CBFF*/

body {
  margin: 0px;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2e5266ff;
  color: white;
  height: 10vh;
}

.header {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.mainBody {
  padding: 15%;
  background-color: #6e8898ff;
  height: 70%;
}

.formWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #d3d0cbff;
  box-shadow: black 5px 5px;
}

.previewWindow {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.previewHeader {
  height: auto;
}

.previewBody {
  display: flex;
  gap: 10px;
}

.previewMainBody {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.previewBodyElement {
  height: auto;
}

.previewSecondaryBody {
  width: 30%;
}

.experienceTitle {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.experienceSubTitle {
  font-size: 14px;
}

.experienceTopic {
  font-size: 12px;
}

.jobSubHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.duty {
  font-size: 12px;
}

.educationSubText {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
