/*Color Palette: #2E5266ff, #6E8898FF, #9FB1BCFF, #D3D0CBFF*/

body {
  margin: 0px;
  font-family: "Merriweather", serif;
}

p {
  font-size: 11px;
}

h3 {
  font-size: 14px;
  line-height: 15px;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2e5266ff;
  color: white;
  height: 10vh;
}

.header {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.mainBody {
  padding: 2%;
  background-color: #6e8898ff;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #d3d0cbff;
  box-shadow: black 5px 5px;
}

.previewWindow {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 48px;
  padding-top: 38px;
  width: 60%;
  height: auto;
  box-shadow: 5px 5px;
}

.editWindow {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 10px;
  gap: 10px;
  line-height: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
}

.editTabs {
  display: flex;
  justify-content: center;
  background-color: white;
  gap: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid black 2px;
}

.editTab {
  padding: 5px;
  padding-bottom: 2px;
}

.editTab:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.editTabActive {
  background-color: black;
  color: white;
}

.addWeb {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.previewHeader {
  height: auto;
  line-height: 8px;
}

.previewBody {
  display: flex;
  gap: 10px;
}

.previewMainBody {
  display: flex;
  flex-direction: column;
  width: 683px;
  height: auto;
}

.previewBodyElement {
  height: auto;
  margin-top: 10px;
}

.previewSecondaryBody {
  font-size: 12px;
  width: 140px;
  height: 684px;
}

.categoryHeader {
  font-size: 12px;
  line-height: 1px;
}

.experienceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.experienceSubTitle {
  font-size: 14px;
  line-height: 1px;
}

.experienceTopic {
  font-size: 12px;
}

.jobSubHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: -10px;
}

.duty {
  font-size: 12px;
  margin-left: 12px;
}

.educationSubText {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 0px;
}

.editExpCategory {
  font-family: "Merriweather", serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.expInput {
  font-family: "Merriweather", serif;
  font-size: 12px;
  display: block;
  resize: vertical;
  overflow: hidden;
  min-height: 40px;
}
