/*Color Palette: #2E5266ff, #6E8898FF, #9FB1BCFF, #D3D0CBFF*/

body {
  margin: 0px;
  font-family: "Merriweather", serif;
}

p {
  font-size: 11px;
}

h3 {
  font-size: 14px;
  line-height: 15px;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #2e5266ff;
  color: white;
  height: 10vh;
}

.header {
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.mainBody {
  padding: 15%;
  background-color: #6e8898ff;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formWindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #d3d0cbff;
  box-shadow: black 5px 5px;
}

.previewWindow {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 48px;
  padding-top: 38px;
  width: 595px;
  height: 842px;
  box-shadow: 5px 5px;
}

.editWindow {
  height: 400px;
  width: 300px;
  background-color: white;
}

.previewHeader {
  height: auto;
  line-height: 8px;
}

.previewBody {
  display: flex;
  gap: 10px;
}

.previewMainBody {
  display: flex;
  flex-direction: column;
  width: 683px;
  height: auto;
}

.previewBodyElement {
  height: auto;
}

.previewSecondaryBody {
  font-size: 12px;
  width: 140px;
  height: 684px;
}

.categoryHeader {
  font-size: 12px;
  line-height: 1px;
}

.experienceTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 0px;
}

.experienceSubTitle {
  font-size: 14px;
  line-height: 1px;
}

.experienceTopic {
  font-size: 12px;
}

.jobSubHeader {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1px;
}

.duty {
  font-size: 12px;
  margin-left: 12px;
}

.educationSubText {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 0px;
}
